<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>posterApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>BlinkerBlack.ttf</string>
		<string>BlinkerBold.ttf</string>
		<string>BlinkerExtraBold.ttf</string>
		<string>BlinkerExtraLight.ttf</string>
		<string>BlinkerLight.ttf</string>
		<string>BlinkerRegular.ttf</string>
		<string>BlinkerSemiBold.ttf</string>
		<string>BlinkerThin.ttf</string>
		<string>AlQalamQuranMajeed.otf</string>
		<string>al_qalam_quran_majeed_web2_d.otf</string>
		<string>Al-Quran.ttf</string>
		<string>al_qalam_quran_majeed_web_regular.ttf</string>
		<string>AmiriQuran-Regular.ttf</string>
		<string>Glegoo-Bold.ttf</string>
		<string>Glegoo-Regular.ttf</string>
		<string>Handlee-Regular.ttf</string>
		<string>jameel_noori__nastaleeq.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic-VariableFont_wdth,wght.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-MediumItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>OpenSans-VariableFont_wdth,wght.ttf</string>
		<string>OpenSans_Condensed-Bold.ttf</string>
		<string>OpenSans_Condensed-BoldItalic.ttf</string>
		<string>OpenSans_Condensed-ExtraBold.ttf</string>
		<string>OpenSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>OpenSans_Condensed-Italic.ttf</string>
		<string>OpenSans_Condensed-Light.ttf</string>
		<string>OpenSans_Condensed-LightItalic.ttf</string>
		<string>OpenSans_Condensed-Medium.ttf</string>
		<string>OpenSans_Condensed-MediumItalic.ttf</string>
		<string>OpenSans_Condensed-Regular.ttf</string>
		<string>OpenSans_Condensed-SemiBold.ttf</string>
		<string>OpenSans_Condensed-SemiBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Bold.ttf</string>
		<string>OpenSans_SemiCondensed-BoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-ExtraBold.ttf</string>
		<string>OpenSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Italic.ttf</string>
		<string>OpenSans_SemiCondensed-Light.ttf</string>
		<string>OpenSans_SemiCondensed-LightItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Medium.ttf</string>
		<string>OpenSans_SemiCondensed-MediumItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Regular.ttf</string>
		<string>OpenSans_SemiCondensed-SemiBold.ttf</string>
		<string>OpenSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>PatrickHandSC-Regular.ttf</string>
		<string>PlaypenSans-Bold.ttf</string>
		<string>PlaypenSans-ExtraBold.ttf</string>
		<string>PlaypenSans-ExtraLight.ttf</string>
		<string>PlaypenSans-Light.ttf</string>
		<string>PlaypenSans-Medium.ttf</string>
		<string>PlaypenSans-Regular.ttf</string>
		<string>PlaypenSans-SemiBold.ttf</string>
		<string>PlaypenSans-Thin.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>ShantellSans-Bold.ttf</string>
		<string>ShantellSans-BoldItalic.ttf</string>
		<string>ShantellSans-ExtraBold.ttf</string>
		<string>ShantellSans-ExtraBoldItalic.ttf</string>
		<string>ShantellSans-Italic.ttf</string>
		<string>ShantellSans-Light.ttf</string>
		<string>ShantellSans-LightItalic.ttf</string>
		<string>ShantellSans-Medium.ttf</string>
		<string>ShantellSans-MediumItalic.ttf</string>
		<string>ShantellSans-Regular.ttf</string>
		<string>ShantellSans-SemiBold.ttf</string>
		<string>ShantellSans-SemiBoldItalic.ttf</string>
		<string>translationfont.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
	</array>
</dict>
</plist>
